// @import '~bootstrap/scss/bootstrap.scss'

  
// body
//   margin: 0
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
//   -webkit-font-smoothing: antialiased
//   -moz-osx-font-smoothing: grayscale

// code
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

@font-face
  font-family: 'Circe'
  src: url('https://kiss-graph.com/libs/starukha/font') //format('truetype')


$dark: black
$orange: #ff8562


body
  background-color: black

.lev-button
  font-family: 'Circe', arial
  // font-family: "Times New Roman", Times, serif
  background: black
  color: white
  outline: none
  cursor: pointer
  height: 50px
  line-height: 50px
  font-size: 18px
  flex-grow: 1
  margin: 0 20px 20px

#map-react
  width: 100%
  .random-events
    width: 100%
    display: flex
    flex-direction: column
    &__map-container
      width: 100%
      height: 450px
      #map
        width: 100%
        height: 100%
    &__button-row
      display: flex
      justify-content: space-between
      flex-direction: column
      margin-top: 20px
      @media (max-width: 768px)
        flex-direction: column
      &__item
        @extend .lev-button
        background-color: #2e4080
        border: 3px solid #ffc120
        font-weight: 800
        border-radius: 10px
        // border-top-left-radius: 18px
        // border-bottom-right-radius: 18px
        position: relative
        z-index: 10
        text-transform: uppercase
        box-shadow: 6px 6px teal
        &:hover
          background-color: #c0c5f1
          color: black
          box-shadow: 4px 4px teal
        &:active
          color: black
          background-color: #d96b44
          box-shadow: 1px 1px teal
        // &:before
        //   content: ''
        //   position: absolute
        //   z-index: -1
        //   width: 100%
        //   height: 100%
        //   left: 0
        //   top: 10px
        //   border-radius: 10px
        //   background-color: white
    &__current-point
      box-sizing: border-box
      display: flex
      flex-direction: column
      width: 100%
      border: 2px solid white
      padding: 10px
      margin: 0 0 20px 0
      position: relative
      z-index: 10
      background-color: black
      &--appeared
        transition: opacity .5s, margin-top .5s
        animation: appear .5s
        animation-iteration-count: 1
        @keyframes appear
          0%
            opacity: 0
            margin-top: -30px
          100%
            opacity: 1
            margin-top: 0px
      *
        font-family: 'Circe', arial
        color: white
        letter-spacing: normal
      &__h2
        font-size: 25px
        font-weight: 800
        margin: 10px 20px
        text-align: center
      &__address
        font-style: italic
        font-size: 14px
        margin-bottom: 15px
      &__body
        font-size: 16px
        letter-spacing: normal
        margin-bottom: 20px
      &__img
        width: 50%
        height: auto


.desc
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, .55)
  cursor: pointer
  box-sizing: border-box
  *
    box-sizing: border-box
  &__text-area
    font-family: 'Circe', arial
    // font-family: "Times New Roman", Times, serif
    position: absolute
    width: 70vw
    height: 70vh
    left: 15vw
    top: 15vh
    background-color: white
    border: 6px solid black
    padding: 30px 50px
    font-size: 20px
    cursor: default
    font-size: 18px
    @media (max-width: 1200px)
      width: 90vw
      left: 5vw
      padding: 20px 30px
    @media (max-width: 768px)
      font-size: 14px
      width: 95vw
      left: 2.5vw
      padding: 10px
    h1
      font-size: 26px
      font-weight: 800
      margin-bottom: 40px
    &__button
      cursor: pointer
      position: absolute
      top: 10px
      right: 10px
      width: 30px
      height: 30px
      @media screen and ( max-width: 800px )
        top: -45px
      &::after, &::before
        content: ""
        position: absolute
        top: 15px
        left: 0
        background-color: black
        width: 30px
        height: 5px
      &::after
        transform: rotate(45deg)
      &::before
        transform: rotate(-45deg)
    &__text-container
      width: 100%
      height: 100%
      overflow-x: hidden
      overflow-y: scroll
      img
        width: 60%
        height: auto
        min-width: 266px

        


.yandex-baloon
  @media (max-width: 768px)
    max-width: 260px
  @media (max-width: 360px)
    max-width: 180px

#what-is-events
  width: 100%
  height: 270px
  .what-is-events__container
    width: 100%
    display: flex
    justify-content: space-between
    flex-direction: column
    align-items: center
    .lev-button
      height: 100px
      border-radius: 150px
      padding-left: 50px
      padding-right: 50px
